html, body {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background-image: url("background.png");
    background-color: #4e6995;
    background-size: 15em;
    background-repeat: repeat;
}

canvas {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
